<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon class="color">home</mat-icon>
    <span>Dashboard</span>
  </button>
  <button mat-menu-item>
    <mat-icon class="color">list</mat-icon>
    <span>Tasks</span>
  </button>
  <button mat-menu-item>
    <mat-icon class="color">lock_open</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item disabled>
      <mat-icon class="color">lock</mat-icon>
      <span>Log out</span>
    </button>
</mat-menu>