/* You can add global styles to this file, and also import other style files */
@import 'base/reset';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@drewbot/sass-flexbox-grid/public/sass-flexbox/main.css';
@import 'abstracts/variables';
@import 'layout/grid';

html, body { height: 100%;
    background: $bacground-color; }
    body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }