<div class="flex-container">
<div class="row">
<div class="col">
    <div class="all">      
        <div class="row">
        <div class="col-xs-1">
            <app-header></app-header>
        </div>
        <div class="col-xs-11">
                <h1 class="mat-display-1">DashBoard</h1>
    </div>
    </div>
        <div class="row">
            <div class="col-xs-6 auth">
                    <app-sign-in></app-sign-in>
                    <app-sign-out></app-sign-out>
                    <app-profile></app-profile>
             </div>
              <div class="col-xs-6 tasks">
         
                        <app-task></app-task>
                  
               </div>
        </div>
    </div>
</div>
</div>
</div>


