@import 'abstracts/variables';

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

.tasks {
    background: $dark;
    border-radius: 10px;
    color: $white;
    min-height: 600px;
}
.auth {
  background: $light;
  border-radius: 10px;
  color: $white;
  min-height: 600px;
}
.all {
  background: $middle;
  border-radius: 10px;
  color: $white;
  min-height: 600px;
}
h1 {
  margin: 0px;
}