<mat-card>
      <mat-card-title> 
      {{ task.title }}
    </mat-card-title>
    <mat-card-subtitle>
        {{ task.group }}
    </mat-card-subtitle>
    <mat-card-actions>
        <button mat-button>EDIT</button>
        <button mat-button>DELETE</button>
    </mat-card-actions>
    <mat-card-content>
      <div [ngClass]="checkStatus()">{{ task.status }}</div>
    </mat-card-content>     
</mat-card>


