@import 'abstracts/variables';

mat-card {
  margin: 5px;
}
mat-card-title {
  color: $dark;
}
mat-card-subtitle {
  color: $dark;
}
button.mat-button {
  color: $dark;
}
button.mat-button:hover {
  background: $light;
  opacity: 0.5;
  color: $white;
}
.red {
  background: red;
  border-radius: 5px;
  opacity: 0.5;
  color: $white;
  text-align: center; 
}
.green {
  background: green;
  border-radius: 5px;
  opacity: 0.5;
  color: $white;
  text-align: center; 
}
.blue {
  background: blue;
  border-radius: 5px;
  opacity: 0.5;
  color: $white;
  text-align: center; 
}